var filters = {
    toFix: function (value) {
        return Math.floor(value)
    },
    buildArray: function (length) {
        array = [];
        var str = 'p';
        if(length>0){
           for(var i= 0;i<length; i++){
                array.push(str);
           }
        }
        return array;
    },
    //截取日期后面的时分秒
    cutOut:function (value) {
        value = value.toString();
        return value.slice(0,10)
    },
}
module.exports = {
    toFix: filters.toFix,
    buildArray:filters.buildArray,
    cutOut:filters.cutOut,
}
